body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  position: sticky;
  display: flex;
  /* justify-content: space-between; */
  height: 70px;
  top: 0;
  z-index: 3;
  background: linear-gradient(
    -225deg,
    #f7f7f7 0,
    #f7f7f7 29%,
    #f7f7f7 67%,
    #f7f7f7 100%
  );
  border-bottom: 1px solid lightgray;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: left;
  color: #2a52be;
  font-weight: bold;
}
.navbar > .container-fluid {
  justify-content: flex-end;
}
.navbar > #welcome-string {
  justify-content: center;
}

#welcome-string {
  font-style: italic;
}

.subnav {
  position: sticky;
  bottom: 0;
  top: 70px;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid lightgray;
}

.section {
  margin: 60px auto;
  padding: 90px 30px;
  text-align: center;
}

.subnav__container {
  /* align-items: baseline center; */
  display: flex;
  margin: 0 60px;
  padding: 15px 0;
  justify-content: center;
}

.card-img-top {
  border-radius: 30px;
}

.material-icons {
  color: #2a52be;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Material Icons";
  font-weight: bold;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.icon {
  border: 0;
  background: white;
  font-weight: bold;
  /*And other css to remove the default button property */
}

#login-icon {
  background-color: #f7f7f7;
}
#signup-icon {
  background-color: #f7f7f7;
}

#logout-icon {
  background-color: #f7f7f7;
}

#favorites-icon {
  background-color: #f7f7f7;
}

.modal-content {
  border-radius: 30px;
}

#secondary-login-icon {
  background-color: white;
  color: #2a52be;
  text-decoration: underline;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.spinner-container video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.loading-message {
  z-index: 9999;
  color: white;
  position: absolute;
  margin-top: 80px;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

#ShamWowVid {
  position: relative;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  width: 75%;
  height: fit-content;
  border-radius: 30px;
  align-items: center;
}

#hidden-button {
  color: White;
}

#exampleModalLongTitle {
  color: #2a52be;
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
}


