/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  position: sticky;
  display: flex;
  height: 70px;
  top: 0;
  z-index: 3;
  background: linear-gradient(
    -225deg,
    #f7f7f7 0,
    #f7f7f7 29%,
    #f7f7f7 67%,
    #f7f7f7 100%
  );
  border-bottom: 1px solid lightgray;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: left;
  color: #2a52be;
  font-weight: bold;
}
.navbar > .container-fluid {
  justify-content: flex-end;
}
.navbar > #welcome-string {
  justify-content: center;
}

#welcome-string {
  font-style: italic;
}

.subnav {
  position: sticky;
  bottom: 0;
  top: 70px;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid lightgray;
}

.section {
  margin: 60px auto;
  padding: 90px 30px;
  text-align: center;
}

.material-icons {
  color: #2a52be;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Material Icons";
  font-weight: bold;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.icon {
  border: 0;
  background: white;
  font-weight: bold;
}

#login-icon {
  background-color: #f7f7f7;
}
#signup-icon {
  background-color: #f7f7f7;
}

#logout-icon {
  background-color: #f7f7f7;
}

#favorites-icon {
  background-color: #f7f7f7;
}

.modal-content {
  border-radius: 30px;
}

#secondary-login-icon {
  background-color: white;
  color: #2a52be;
  text-decoration: underline;
}

.detailtarget::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: 325px;
  background-image: url("./Park.png");
  background-repeat: repeat;
  animation: scroll 2200s linear infinite;
  opacity: 0.25;
  z-index: -60;
}
@keyframes scroll {
  0% {
    background-position: -3000px 3000px;
  }
  12.5% {
    background-position: 0px -3000px;
  }
  25% {
    background-position: -3000px 0px;
  }
  37.5% {
    background-position: 0px 3000px;
  }
  50% {
    background-position: -3000px 3000px;
  }
  62.5% {
    background-position: 0px -3000px;
  }
  75% {
    background-position: -3000px 0px;
  }
  87.5% {
    background-position: 0px 3000px;
  }
  100% {
    background-position: -3000px 3000px;
  }
}

.detailcontent {
  color: #2a52be;
  font-size: large;
  font-weight: bolder;
  z-index: 4;
} */
